<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">Add To Playlist</h4>
    </div>
    <div class="modal-body">

        <ui-select ng-model="text.searchText"
                   class=" show-tick "
                   ng-change="updateSelect(text.searchText)"
                   append-to-body="false"
                   search-enabled="true"
                   name="Playlist">
            <ui-select-match
                    placeholder="{{ 'Select Option'}} ">
                <span> {{$select.selected.value}}</span>
            </ui-select-match>
            <ui-select-choices ng-hide="!$select.open"
                               repeat=" option in playlists"
                               refresh="onChange($select.search)"
                               refresh-delay="0">
                <span ng-bind-html="option.name"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="modal-footer">
        <div style="display: flex; ">
            <input type="text" ng-model="text.newPlaylistName" class="form-control">
            <button type="button" class="btn btn-primary" ng-click="updateSelect({name:text.newPlaylistName})">Add To New Playlist</button>
        </div>

    </div>
</div>
